.loginForm {
  background-color: #6c7a89;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
}

.loginForm h2 {
  text-align: center;
  color: #f7cac9;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
  margin-right: 20px;
}

.formGroup label {
  color: #f7cac9;
  display: block;
  margin-bottom: 5px;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f7cac9;
  color: #5a5a5a;
}

.loginButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #98dbc6;
  color: #2f2e41;
  cursor: pointer;
  margin-bottom: 10px;
}

.loginButton:hover {
  background-color: #5d576b;
}

.guestLoginButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f7cac9;
  color: #5a5a5a;
  cursor: pointer;
  margin-bottom: 10px;
}

.guestLoginButton:hover {
  background-color: #f4d35e;
}

.signupLink {
  color: #f7cac9;
  text-align: center;
}

.signupLink a {
  color: #98dbc6;
  text-decoration: none;
  font-weight: bold;
}
